################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

routebeat:
  # Defines how often an event is sent to the output
  period: 30s

  # Tags to collect route data from
  tags:
    - "MES"
    - "IPAN"

  # (optional) Nameset to select from for the "source" and "destination", value and default value for emptry route
  mapping:
    nameset: "Broadview"
    default: ""
  
  # TDA default source
  tda: ""

  # Tag for the Zorro sources.
  zorro: ""

  # Magnum API
  api:
    url: "https://129.153.131.121/graphql/v1.1"
    
    # Get route notifications via the subscriptions
    notifications: true

    # Limit the number of destinations in the API query results
    limit: 2000
    
    # Magnum OIDC Authentication
    auth:
      client_id: "insite-poller"
      client_secret: "QdS1US0v2xABh4d5CliQAWZrmSGPMOxd"
      token_url: "https://129.153.131.121/auth/realms/magnum/protocol/openid-connect/token"

  elasticsearch:
    # Elasticsearch server node url
    address: "http://127.0.0.1:9200"

    # Index pattern to query for scheduler data
    index: "log-magnum-scheduler-*"

    # Defines how often the schedule event params is fetched 
    period: 5m