routebeat:
  period: 30s
  tags:
    - "MES"
    - "IPAN"
  mapping:
    nameset: "Broadview"
    default: ""
  api:
    url: "https://129.153.131.121/graphql/v1.1"
    notifications: true
    limit: 2000
    auth:
      client_id: "insite-poller"
      client_secret: "QdS1US0v2xABh4d5CliQAWZrmSGPMOxd"
      token_url: "https://129.153.131.121/auth/realms/magnum/protocol/openid-connect/token"
  elasticsearch:
    address: "http://127.0.0.1:9200"
    index: "log-magnum-scheduler-*"