################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

routebeat:
  # Defines how often an event is sent to the output
  period: 30s

  # Tags to collect route data from
  tags:
    - "<Magnum Tag>"

  ## (optional) Nameset to select from for the "source" and "destination", value and default value for emptry route
  # mapping:
  #  nameset: "<nameset>"
  #  default: ""

  # TDA default source
  tda: ""

  # Tag for the Zorro sources.
  zorro: ""

  # Magnum API
  api:
    url: "https://<IP>/graphql/v1.1"
    
    # Get route notifications via the subscriptions
    notifications: true

    # Limit the number of destinations in the API query results
    limit: 2000
    
    # Magnum OIDC Authentication
    auth:
      client_id: "<client id>"
      client_secret: "<secret key>"
      token_url: "https://<IP</auth/realms/magnum/protocol/openid-connect/token"

  elasticsearch:
    # Elasticsearch server node url
    address: "http://127.0.0.1:9200"

    # Index pattern to query for scheduler data
    index: "log-magnum-scheduler-*"

    # Defines how often the schedule event params is fetched 
    period: 5m

    # developer settings to save/load cache
    dev:
      # load a local copy of the schedule cache (scheduleCache.gob)
      load_cache: true

      # save a the schedule cache on shutdown (scheduleCache.gob)
      save_cache: true 
      
      # disable validating the end date (default true)
      validate_end_date: false

  # (optional) Magnum Analytics notification programs to dispatch transition alerts
  notifiers:
    # manual notifier IP and Port settings
    manual:
      - node: "127.0.0.1"
        port: 19708

    # automatic notifier settings using the Magnum Analytics Locator API
    # default username password is admin/admin
    auto:
      host: "127.0.0.1"
      username: "admin"
      password: "admin"
      types: ["notification-elastic"]